<div class="footer">
  <span class="block ftr">&copy; {{ site.time | date: '%Y' }} <a href="/about">Patrick McMurchie</a></span>
<!--  <div class="social-icons">
    <ul>
      <li><a href="https://www.linkedin.com/in/patrick-mcmurchie/"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://www.github.com/28mm"><i class="fa fa-github"></i></a></li>
      <li><a href="mailto:patrick.mcmurchie@gmail.com"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://www.instagram.com/patrick.mcmurchie/"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div> -->
</div>
